*{
    margin: 0px;
    padding: 0px;
}
.container{
  padding: 4rem;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    font-family: sans-serif;
    color: rgb(119, 113, 113);
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover {
    background-color: rgb(119, 113, 113);
    color: black;
  }
  .line{
   border-color: rgb(255 255 255);
  }
  .text{
    width: 21vw;
  }
  
.head{
  font-family: sans-serif;  
      font-weight: 540;
  }
.para{
  font-family: sans-serif;
    margin-top: -1.3rem;
    /* margin-left: 14rem; */
    float: right;
    color: rgb(102, 99, 99);
  }
  .anchor{
    padding-left: 7vh;
  }
  .boxes{
    text-align: center;
  }
  .first {
    text-align: center; 
    display: inline-block;
   padding: 0vh 2vh;
   }
   .head2{
     color:rgb(105, 182, 201);
     text-align: start;
     font-family: sans-serif;
     font-weight: 550;
     font-size: 16px;
     line-height: 6vh;
   }
  .para2{
    color: grey;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
  }
  .footer{
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 6vh;
    padding-left: 1rem;
    color: grey;
  }

  @media(min-width:350px)and (max-width:1219px){
    .para2{
      padding-bottom: 10px;
    }
  }

  @media only screen and (max-width: 500px) {

    .first{
      /* margin-left: -37px;
    width: 150px !important;
    text-align: start; */
    padding-left: 10px !important  ;

    }
    .container{
      padding: 0rem;
    }
    .para2{
      padding-bottom: 2rem;
    }
    .head{
      font-size: 20px;
      padding-top: 2rem;
      padding-left: 1.5rem;
    }
    .para{
      float: none;
      padding-top: 2rem;
      font-size: 12px;
      padding-left: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .text{
      width:100%;
    }
    .line{
      margin-left: 6px;
      margin-right: 6px;
    }
    .footer{
      padding:10px !important;
    }
    .topnav a{
      padding: 14px 8px;
    }
    .anchor{
      padding-left: 16px;
    }
  }
  /* @media(min-width:350px)and(max-width:506px){
   
  } */
@media (min-width:500px)and (max-width:1672px){
  .para{
    float:none;
    margin-left: 10rem;
  }
  .text{
    width: 100%;
  }
}
  
  
 