*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
  padding: 4rem;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    font-family: sans-serif;
    color: rgb(119, 113, 113);
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover {
    background-color: rgb(119, 113, 113);
    color: black;
  }
  .line{
   border-color: rgb(255 255 255);
  }
  .line2{
    width: 90%;
     margin-left: 67px; 
  }
  
  .text{
    width: 21vw;
  }
  
.head{
  font-family: sans-serif;  
      font-weight: 540;
  }
.para{
  font-family: sans-serif;
    margin-top: -1.3rem;
    float: right;
    color: rgb(102, 99, 99);
    margin-bottom: 4px;
  }
  .anchor{
    padding-left: 4rem;
  }
  .boxes{
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
  }
  .imgdesign{
    width: 100%;
  }
  .first {
    text-align: center; 
  
   padding-bottom: 10px;
   float: left;
   width: calc(91%/3);
   }
   .first1{
   margin-right:23px ;
   }
   .first3{
   margin-left:23px;
   }
   .first2{
     margin-left: 23px;
     margin-right: 23px;
   }
   .head2{
     color:rgb(105, 182, 201);
     text-align: start;
     font-family: sans-serif;
     font-weight: 550;
     font-size: 16px;
     line-height: 6vh;
     
   }
  .para2{
    color: grey;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
  }
  .footer{
    font-family: sans-serif;
    font-size: 12px;
    /* margin-top: 1rem; */
    padding-top: 2rem;
    padding-left: 4rem;
    /* border-top: 1px solid rgb(153, 151, 151) ; */
    /* margin-left: 4rem; */
    width: 100%;
    padding-bottom: 2rem;
    color: grey;
    float: left;
    clear: both;
  }

  @media(min-width:350px)and (max-width:1219px){
    .para2{
      padding-bottom: 10px;
    }
  }
  @media only screen and (max-width: 500px) {
    .boxes{ 
      padding-bottom: 0px;
      width: 100%;
    }

    .first{
    text-align: center; 
    padding-left: 21px !important  ;
    width: 100%;
    }
    .first1{
      margin-right: 0px;
      padding-right: 14px;
    }
    .first2{
      margin-left: 0px;
      margin-right: 0px;
      padding-right: 14px;
    }
    .first3{
      margin-left: 0px;
      padding-right: 14px;
    }
   
    .container{
      padding: 0rem;
    }
    .para2{
      padding-bottom: 2rem;
    }
    .head{
      font-size: 20px;
      padding-top: 2rem;
      padding-left: 1.5rem;
    }
    .para{
      float: none;
      padding-top: 2rem;
      font-size: 12px;
      padding-left: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .text{
      width:100%;
    }
    .line{
      margin-left: 10px;
      margin-right: 10px;
    }
    .line2{
      width: 89%;
       margin: 0 auto; 
    }
    .footer{
      padding:18px !important;
    }
    .topnav a{
      padding: 14px 8px;
    }
    .anchor{
      padding-left: 16px;
    }
  }
 
@media (min-width:500px)and (max-width:1150px){
  .first1{
    
    padding: 0px 10px;
    margin: 0;
  }
  
  .first2{
    
    padding: 0px 10px;
    margin: 0;
  }
  .first3{
    padding: 0px 10px;
    margin: 0;

  }
  .line{
    padding: 0 10px;
  }
  .line2{
    width: 89%;
     margin: 0 auto; 
  }
 
}
  
@media (min-width:500px)and (max-width:1672px){
  .para{
    float:none;
    margin-left: 10rem;
  }
  .text{
    width: 100%;
    /* padding: 0 10px; */
  }
}
@media (min-width:500px)and (max-width:672px){
  .line2{
    width:78%;
    margin: 0 auto;
  }
}
@media (min-width:1436px)and (max-width:1672px){
.first{
  width:calc(93%/3)
}
}

@media (min-width:500px)and (max-width:1150px){
  .first{
    /* width:calc(89%/2); */
    width:50%;
  }
}
